<div class="wrapper ">
  <app-client-nav></app-client-nav>
  <div class="main-panel">
    <!-- Navbar -->
    <app-deconnecter></app-deconnecter>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <section class="section team-section">

          <!-- Grid row -->
          <div class="row text-center">

            <!-- Grid column -->
            <div class="col-md-8 mb-4">

              <!-- Card -->
              <div class="card card-cascade cascading-admin-card user-card">

                  <div class="card-header card-header-primary">
                    <h5 class="font-weight-bold ">Editer le profil - Complétez votre profil</h5>
                  </div>

                <div class="card-body card-body-cascade">

                  <div class="row">

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm">
                        <label for="form5" class="">Prénom</label>
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm">
                        <label for="form5" class="">Nom</label>
                      </div>

                    </div>

                  </div>

                  <div class="row">


                    <div class="col-md-12">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form6" class="form-control form-control-sm">
                        <label for="form6" class="">Adresse</label>
                      </div>

                    </div>

                  </div>

                  <div class="row">

                    <div class="col-lg-4 col-md-12">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form7" class="form-control form-control-sm">
                        <label for="form7" class="">Ville</label>
                      </div>

                    </div>

                    <div class="col-lg-4 col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form8" class="form-control form-control-sm">
                        <label for="form8" class="">rue</label>
                      </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form9" class="form-control form-control-sm">
                        <label for="form9" class="">code postal</label>
                      </div>

                    </div>
                    <!-- Grid column -->

                  </div>
                  <div class="row">

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="date" id="form5" class="form-control form-control-sm">
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm">
                        <label for="form5" class="">Numéro de téléphone</label>
                      </div>

                    </div>

                  </div>

                  <div class="options text-center text-md-right mt-1">
                    <button class="btn btn-yellow"><i class="fas fa-edit"></i> Modifier </button>
                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">

              <!-- Card -->
              <div class="card profile-card">

                <!-- Avatar -->
                <div class="avatar z-depth-1-half mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle" alt="First sample avatar image">
                </div>

                <div class="card-body pt-0 mt-0">

                  <!-- Name -->
                  <h3 class="mb-3 font-weight-bold"><strong>Anna Deynah</strong></h3>

                    <button class="btn btn-indigo btn-rounded btn-sm waves-effect waves-light">Upload New Photo</button>

                </div>

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
          <div class="row text-center">

            <!-- Grid column -->
            <div class="col-md-8 mb-4">

              <!-- Card -->
              <div class="card card-cascade cascading-admin-card user-card">

                  <div class="card-header card-header-primary">
                    <h5 class="font-weight-bold ">Mdifier le mot de passe</h5>
                  </div>

                <div class="card-body card-body-cascade">

                  <div class="row">

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm">
                        <label for="form5" class="">Email</label>
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm">
                        <label for="form5" class="">Ancien Mot de passe </label>
                      </div>

                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm">
                        <label for="form5" class="">Nouveau Mot de passe</label>
                      </div>
                    </div>

                    <div class="col-md-6">

                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm">
                        <label for="form5" class="">Confirmer votre nouveau Mot de passe</label>
                      </div>

                    </div>

                  </div>

                  <div class="options text-center text-md-right mt-1">
                    <button class="btn btn-yellow"><i class="fas fa-edit"></i> Modifier </button>
                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->



          </div>
        </section>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

