<div class="sidebar" data-color="yellow" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a routerLink="/home" class="simple-text logo-normal">
      <img src="../../../assets/images/logo/logofinal.PNG" width="170px" height="80px"/>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/client/profil">
          <i class="material-icons">dashboard</i>
          <p>Profil</p>
        </a>
      </li>
      <li class="nav-item  "routerLinkActive="active">
        <a class="nav-link" routerLink="/client/artisan-list">
          <i class="fa fa-users" aria-hidden="true"></i>
          <p>Artisans</p>
        </a>
      </li>
      <!-- <li class="nav-item active-pro ">
            <a class="nav-link" href="./upgrade.html">
                <i class="material-icons">unarchive</i>
                <p>Upgrade to PRO</p>
            </a>
        </li> -->
    </ul>
  </div>
</div>
