@import url("../../../assets/css-artisan/material-dashboard.css");

@import url("../../../assets/demo/demo.css");

@import url("../../../assets/MDB-Free_4.7.0/css/modules/animations-extended.min.css");


span{
  position: absolute;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
label{
  padding-left: 35px;

}
.f{
  padding-left: 35px;

}
