<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <div>
                  <h3 class="text-center"><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Mot de passe Oublié?</h2>
                  <p class="text-center">Vous pouvez réinitialiser votre mot de passe ici.</p>
                  <div class="panel-body">
    
                    <form id="register-form" novalidate [formGroup]="formForgot">
    
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default" [class.icon-invalid]="Email.invalid && Email.touched">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                          <input 
                            formControlName="email"
                            name="email" 
                            placeholder="Votre adresse email" 
                            class="form-control"  
                            type="email"
                            [class.invalid]="Email.invalid && Email.touched"
                            >
                        </div>
                        <div *ngIf="Email.invalid && Email.touched">
                            <small class="text-danger" *ngIf="Email.errors?.required">Le champ <b>Email</b> est obligatoire.</small>
                            <small class="text-danger" *ngIf="Email.errors?.pattern">Veuillez fournir une adresse email valide.</small>
                        </div>
                        
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-md btn-primary btn-block" value="
                        Réinitialiser" type="submit" [disabled]="!formForgot.valid" (click)="submitReset()">
                      </div>
                      <div class="alert alert-success" [hidden]="!isSend">
                        Si votre adresse email existe dans notre base de données, vous receverez un lien de récuperation dans quelque minutes
                      </div>
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>