.forgot{
    background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
    background-repeat:no-repeat; 
    background-position:center; 
    background-size:cover; 
    padding:10px;
    height:100%;
    width:100%;
    position: fixed;
}
.layer{
    background: white;
    padding: 20px;
}
.form-gap {
    padding-top: 70px;
}
.text-danger{
    color: #a94442;
    font-size: 13px;
    text-align: left;
}
.invalid{
    border-right: 1px solid #a94442;
    border-top: 1px solid #a94442;
    border-bottom: 1px solid #a94442;
}
.icon-invalid{
    background-color: #a94442;
    color: white;
    border: 1px solid #a94442;
}