<div class="sidebar" data-color="yellow" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a routerLink="/home" class="simple-text logo-normal">
      <img src="../../../assets/images/logo/logofinal.PNG" width="170px" height="80px"/>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
    <!--  <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/artisan/home">
          <i class="material-icons">dashboard</i>
          <p>Accueil</p>
        </a>
      </li> -->
      <li class="nav-item  "routerLinkActive="active">
        <a class="nav-link" routerLink="/artisan/profil">
          <i class="material-icons">person</i>
          <p>Profil</p>
        </a>
      </li> 
      <li class="nav-item  "routerLinkActive="active">
        <a class="nav-link" routerLink="/artisan/metiers">
          <i class="material-icons">Metiers</i>
          <p>Metiers/Services</p>
        </a>
      </li> 
      <li class="nav-item  "routerLinkActive="active">
        <a class="nav-link" routerLink="/artisan/projets">
          <i class="material-icons"><mdb-icon fas icon="briefcase"></mdb-icon></i>
          <p>Projets</p>
        </a>
      </li> 
      <!--
      <li class="nav-item ">
        <a class="nav-link" href="./tables.html">
          <i class="material-icons">content_paste</i>
          <p>Table List</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./typography.html">
          <i class="material-icons">library_books</i>
          <p>Typography</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./icons.html">
          <i class="material-icons">bubble_chart</i>
          <p>Icons</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./map.html">
          <i class="material-icons">location_ons</i>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./notifications.html">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li> -->
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/artisan/calendrier">
          <i class="material-icons">calendar_today</i>
          <p>Calendrier</p>
        </a>
      </li>

      <!-- <li class="nav-item active-pro ">
            <a class="nav-link" href="./upgrade.html">
                <i class="material-icons">unarchive</i>
                <p>Upgrade to PRO</p>
            </a>
        </li> -->
    </ul>
  </div>
</div>
