<!-- Section: Contact v.1 -->


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-4">

        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <!-- Header -->
            <div class="form-header ">
              <h3 class="mt-2"> contactez-nous</h3>
            </div>
            <p class="dark-grey-text">Nous écrirons rarement, mais seulement le meilleur contenu.</p>
            <!-- Body -->
            <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="form-name" class="form-control">
              <label for="form-name">Your name</label>
            </div>
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="text" id="form-email" class="form-control">
              <label for="form-email">Your email</label>
            </div>
            <div class="md-form">
              <i class="fas fa-tag prefix grey-text"></i>
              <input type="text" id="form-Subject" class="form-control">
              <label for="form-Subject">Subject</label>
            </div>
            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="form-text" class="form-control md-textarea" rows="3"></textarea>
              <label for="form-text">Message</label>
            </div>
            <div class="text-center">
              <button class="btn btn-light-blue">Submit</button>
            </div>
          </div>
        </div>
        <!-- Form with header -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!--Google map-->
        <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
          <iframe src="https://maps.google.com/maps?q=dhar%20el%20mahraz%20fes&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating ">
              <i class="fas fa-map-marker-alt"></i>
            </a>
            <p>Fes, Dhar El Mahraz, 30050</p>
            <p class="mb-md-0">Maroc</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating ">
              <i class="fas fa-phone"></i>
            </a>
            <p>+ 05 000 111 01</p>
            <p class="mb-md-0">Lun - Ven, 8:00-18:00</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating ">
              <i class="fas fa-envelope"></i>
            </a>
            <p>info@gmail.com</p>
            <p class="mb-0">sale@gmail.com</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
